:root {
    --green-color: #154203;
    --light-green-color: #249300;
    --grey-color: #7b7b7b;
    --light-grey-color: #9d9d9d;
    --red-color: #E12237;  
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}
 
html
{
    scroll-behavior: smooth;
}
body{
    
    background-color: #F6F6F6;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: left;
    position: fixed;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 0.5rem 5%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    background: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.logo img {
    width: auto;
    height: 64px;
    object-fit: contain;
    object-position: center;
    margin: 0px 0px 0px 0px;
}
.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a, .login-btn {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 0.9rem;
}
.tabs a {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 0.9rem;
}

.vl {
    border-left: 1px solid var(--grey-color);
    margin-left: 20vw;
    height: 2rem;
  }
.login-btn {
    border: none;
    background: none;
    color: var(--grey-color);
    margin-left: 0;
    cursor: pointer;
}

/* login */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15vh 0;
}
.title-login{
   font-size: 32pt; 
   padding: 2rem;
   margin-bottom: 10vh; 
}
form{
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.user{
    margin-left: -20vw;
    border: none;
    font-size: 11pt;
}
.users {
    width: 25vw;
    height: 5vh;
    margin-bottom: 1.5rem;
    border: 0.1px solid var(--light-grey-color);
    border-radius: 5px;
    cursor: pointer;
    padding-left: 1rem;
}
.forgot{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 7vh;
    font-size: 11pt;
}
.forgot p {
    margin-right: 3vw;
    color: #000;
}
.forgot a {
    color: var(--grey-color);
}
.submit {
    width: 25vw;
    height: 5vh;
    background: var(--green-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}
.regist{
    display: flex;
    gap: 0.5rem;
    font-size: 11pt;
    color: var(--grey-color);
    margin-bottom: 10vh;
}
.copy{
    font-size: 11pt;
}

/* quick links */
.footer {
    background-color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.footer-col {
    flex: 1 1 200px;
    margin: 10px;
}

.img-footer {
    margin-bottom: 20px;
}

.subscribe-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
}

.subscribe-container input[type="email"] {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
}

.subscribe-container button {
    background-color: #2d4b1a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.footer a, .footer p {
    color: #00000080;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
    display: block;
}

.footer a:hover {
    color: darkgray;
}

.terms {
    margin-top: 10px;
}

.horizontal-line {
    border-top: 1px solid #ccc;
    width: 205%; /* Spans across both columns */
    margin: 20px 0;
}

.footer-social {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 60px;
    right: 20px;
}

.footer-social a {
    margin-right: 25px; /* Adjust this value to control the spacing */
}

.footer-social a:last-child {
    margin-right: 0; /* Remove margin from the last icon */
}